<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>xyz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Hello</servlet-name>
    <servlet-class>com.X.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.Controller.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forum</display-name>
    <servlet-name>Forum</servlet-name>
    <servlet-class>jFourm.Forum</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forum</servlet-name>
    <url-pattern>/Forum</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Registration.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiscussionServlet</display-name>
    <servlet-name>DiscussionServlet</servlet-name>
    <servlet-class>com.Discussion.DiscussionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscussionServlet</servlet-name>
    <url-pattern>/DiscussionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLog</display-name>
    <servlet-name>AdminLog</servlet-name>
    <servlet-class>com.AdminLogin.AdminLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLog</servlet-name>
    <url-pattern>/AdminLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>com.edit_profile.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.logout.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoServlet</display-name>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>com.video.VideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/VideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordCheck</display-name>
    <servlet-name>PasswordCheck</servlet-name>
    <servlet-class>com.password.PasswordCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordCheck</servlet-name>
    <url-pattern>/PasswordCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display Images</display-name>
    <servlet-name>DisplayImages</servlet-name>
    <servlet-class>com.Model.DisplayImages</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayImages</servlet-name>
    <url-pattern>/DisplayImages/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Blockpost</display-name>
    <servlet-name>Blockpost</servlet-name>
    <servlet-class>jforum.Blockpost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Blockpost</servlet-name>
    <url-pattern>/Blockpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Blocker</display-name>
    <servlet-name>Blocker</servlet-name>
    <servlet-class>jforum.Blocker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Blocker</servlet-name>
    <url-pattern>/Blocker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Example</display-name>
    <servlet-name>Example</servlet-name>
    <servlet-class>exampl.Example</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example</servlet-name>
    <url-pattern>/Example</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeCommentServlet</display-name>
    <servlet-name>HomeCommentServlet</servlet-name>
    <servlet-class>homepage.HomeCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeCommentServlet</servlet-name>
    <url-pattern>/HomeCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeVideoBlockPost</display-name>
    <servlet-name>HomeVideoBlockPost</servlet-name>
    <servlet-class>homepage.HomeVideoBlockPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeVideoBlockPost</servlet-name>
    <url-pattern>/HomeVideoBlockPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeVideoCommentServlet</display-name>
    <servlet-name>HomeVideoCommentServlet</servlet-name>
    <servlet-class>homepage.HomeVideoCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeVideoCommentServlet</servlet-name>
    <url-pattern>/HomeVideoCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeVideooadServlet</display-name>
    <servlet-name>HomeVideoFileUploadServlet</servlet-name>
    <servlet-class>homepage.HomeVideoFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeVideoFileUploadServlet</servlet-name>
    <url-pattern>/HomeVideoFileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeBlockPost</display-name>
    <servlet-name>HomeBlockPost</servlet-name>
    <servlet-class>homepage.HomeBlockPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeBlockPost</servlet-name>
    <url-pattern>/HomeBlockPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeBlockpost</display-name>
    <servlet-name>HomeBlockpost</servlet-name>
    <servlet-class>homepage.HomeBlockpost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeBlockpost</servlet-name>
    <url-pattern>/HomeBlockpost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeFileUploadServlet</display-name>
    <servlet-name>HomeFileUploadServlet</servlet-name>
    <servlet-class>homepage.HomeFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeFileUploadServlet</servlet-name>
    <url-pattern>/HomeFileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiscussionRedirect</display-name>
    <servlet-name>DiscussionRedirect</servlet-name>
    <servlet-class>com.Discussion.DiscussionRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscussionRedirect</servlet-name>
    <url-pattern>/DiscussionRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupRedirect</display-name>
    <servlet-name>GroupRedirect</servlet-name>
    <servlet-class>jforum.GroupRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupRedirect</servlet-name>
    <url-pattern>/GroupRedirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchGroup</display-name>
    <servlet-name>SearchGroup</servlet-name>
    <servlet-class>jforum.SearchGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGroup</servlet-name>
    <url-pattern>/SearchGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adduser</display-name>
    <servlet-name>adduser</servlet-name>
    <servlet-class>jforum.adduser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adduser</servlet-name>
    <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>jforum.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupCreate</display-name>
    <servlet-name>GroupCreate</servlet-name>
    <servlet-class>jforum.GroupCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupCreate</servlet-name>
    <url-pattern>/GroupCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveGroup</display-name>
    <servlet-name>LeaveGroup</servlet-name>
    <servlet-class>jforum.LeaveGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveGroup</servlet-name>
    <url-pattern>/LeaveGroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoBlockPost</display-name>
    <servlet-name>VideoBlockPost</servlet-name>
    <servlet-class>videogroup.VideoBlockPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoBlockPost</servlet-name>
    <url-pattern>/VideoBlockPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoCommentServlet</display-name>
    <servlet-name>VideoCommentServlet</servlet-name>
    <servlet-class>videogroup.VideoCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoCommentServlet</servlet-name>
    <url-pattern>/VideoCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoFileUploadServlet</display-name>
    <servlet-name>VideoFileUploadServlet</servlet-name>
    <servlet-class>com.Controller.VideoFileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoFileUploadServlet</servlet-name>
    <url-pattern>/VideoFileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileUpdate</display-name>
    <servlet-name>ProfileUpdate</servlet-name>
    <servlet-class>com.profile.ProfileUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileUpdate</servlet-name>
    <url-pattern>/ProfileUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CloseTopic</display-name>
    <servlet-name>CloseTopic</servlet-name>
    <servlet-class>com.topic.CloseTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CloseTopic</servlet-name>
    <url-pattern>/CloseTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Report</display-name>
    <servlet-name>Report</servlet-name>
    <servlet-class>com.Discussion.Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Report</servlet-name>
    <url-pattern>/Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUser</display-name>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.profile.AddUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/AddUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFriend</display-name>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>com.profile.AddFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/AddFriend</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Email</display-name>
    <servlet-name>Email</servlet-name>
    <servlet-class>com.sappers.classes.Email</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Email</servlet-name>
    <url-pattern>/Email</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwd</display-name>
    <servlet-name>ChangePwd</servlet-name>
    <servlet-class>com.passforgot.ChangePwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwd</servlet-name>
    <url-pattern>/ChangePwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPwd</display-name>
    <servlet-name>ForgotPwd</servlet-name>
    <servlet-class>com.passforgot.ForgotPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPwd</servlet-name>
    <url-pattern>/ForgotPwd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailValidation</display-name>
    <servlet-name>EmailValidation</servlet-name>
    <servlet-class>com.Login.EmailValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailValidation</servlet-name>
    <url-pattern>/EmailValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TagServlet</display-name>
    <servlet-name>TagServlet</servlet-name>
    <servlet-class>com.tagging.TagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagServlet</servlet-name>
    <url-pattern>/TagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageCropperSrv</display-name>
    <servlet-name>ImageCropperSrv</servlet-name>
    <servlet-class>com.crop.ImageCropperSrv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageCropperSrv</servlet-name>
    <url-pattern>/ImageCropperSrv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registeruser</display-name>
    <servlet-name>registeruser</servlet-name>
    <servlet-class>registration.registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeruser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailForgotPwd</display-name>
    <servlet-name>EmailForgotPwd</servlet-name>
    <servlet-class>com.passforgot.EmailForgotPwd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailForgotPwd</servlet-name>
    <url-pattern>/EmailForgotPwd</url-pattern>
  </servlet-mapping>
</web-app>